<head>
  <title>Doubt Clear</title>
  <meta charset="UTF-8">
  <link rel="shortcut icon" type="x-icon" href="DClear-tab.png">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
  body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
  .w3-bar,h1,button {font-family: "Montserrat", sans-serif}
  .fa-anchor,.fa-coffee {font-size:200px}
  
        input[type=text],
        select,textarea{
         
          padding:8px;
          border: 1px solid #5A5A5A;
          border-radius: 24px;
          box-sizing: size="25";
          margin-top: 8px;
          margin-bottom: 8px;
          resize: vertical;
        }
        input[type=submit] {
          background-color: w3-red;
          color: #5A5A5A;
          padding: 12px 20px;
          border: none;
          border-radius: 7px;
          cursor: pointer;
        }
        input[type=submit]:hover {
          background-color: lightcoral;
        }
        .container {
          border-radius: 24px;
          background-color: #808080;
          padding: 24px;
        }
  </style>
</head>

<nav>
  <div class="w3-top">
    <div class="w3-bar w3-red w3-card w3-left-align w3-large">
      <!-- Your navigation links -->
      <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="index.html" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
    <a href="#2" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">About</a>
    <a href="#1" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Contact</a>
    <a href="studentlogin.jsp" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Employee login</a>
    <a href="tutorlogin.jsp" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Admin login</a>
  	<a href="index.html" ><img src="DClear-logo.png" align="right" height="77" width="277"></a>
    </div>
  </div>
</nav>

<header class="w3-container w3-grey w3-center" style="padding:128px 16px">
  <!-- Header content -->
  <h1 class="w3-margin w3-jumbo">Welcome to Trainease</h1>
  <p class="w3-xlarge">Gain your knowlodge with your skills</p>
  <a href="Employee.jsp"><button class="w3-button w3-light-gray w3-padding-small w3-large w3-margin-top">Get Started</button></a>
</header>

<section id="2">
  <!-- Section 2 content -->
  <div class="w3-row-padding w3-padding-64 w3-container">
    <div class="w3-content">
      <div class="w3-twothird">
        <h1>How does trainease work?</h1>
        <h3 class="w3-padding-top-32"><span class="fa fa-thumbs-o-down" style="font-size:27px;color:red"></span>Stuck while studying?</h3>
        <h5 class="w3-text-darkgrey">Everyday unanswered questions become huge backlogs overtime.</h5>
        
        <h3 class="w3-padding-top-32"><span class="fa fa-camera" style="font-size:27px;color:red"></span>Take a photo of your question</h3>
        <h5 class="w3-text-darkgrey">Questions, concepts, formulas, ask anything that you want.</h5>
        
        <h3 class="w3-padding-top-32"><span class="fa fa-thumbs-o-up" style="font-size:27px;color:red"></span>Connect to a tutor in a seconds clear your doubt</h3>
        <h5 class="w3-text-darkgrey">Our friendly expert will always be there to help you understand better.</h5>
      </div>
  
      <div class="w3-third w3-center">
        <i class="fa fa-book w3-padding-64 w3-text-red" style="font-size:177px;color:red"></i>
      </div>
    </div>
  </div>
</section>

<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <!-- Content with corrections -->
  <div class="w3-content">
    <div class="w3-third w3-center">
      <i class="fa fa-group w3-padding-64 w3-text-red" style="font-size:177px;color:red"></i>
      
    </div>

    <div class="w3-twothird">
      <h1>What is DClear?</h1>
      <h5 class="w3-padding-32">DClear (Dubt Clear) is the only instant tutoring platform that 
		  						connects students to subject topic experts in just a seconds. 
		  						These are one-to-one interactive chatting sessions which can be chat with tutor or you can call and claear the doubt.
		  						 Loved by more 
		  						than thousands students across countries and tutors,
		  						DClear is the largest community of tutors.</h5>
      
    </div>
  </div>
</div>

<section id="1">
  <!-- Section 1 content -->
  <div class="w3-row-padding  w3-dark-grey w3-padding-24 w3-container">
      <h2>Get In Touch With Us</h2>
    <div class="w3-content">
      
      <div class="w3-third" >
      <form action="feedback" method="POST"> 
          <label for="fname" class="w3-large">Name</label>
          <input type="text" id="name" name="name" placeholder="Type your name.." size="25">
          
          <label for="email" class="w3-large">E-mail Address</label>
          <input type="email" name="email" placeholder="Type your e-mail.." size="25">
          
          <label for="message" class="w3-large">Message</label>
          <textarea id="message" name="message" placeholder="Type your message.." style="height:100px" size="25"></textarea>
          <input type="submit" value="Send" class="w3-red">
        </form>
      </div>
      <div class="w3-twothird w3-center">
      <table border="0">
        <tr>
        <th><i class="fa fa-phone w3-padding-24 w3-text-red" style="font-size:50px;color:red"></i></th> 
          <th class="w3-large">+91 7019232355</th>
        </tr>
        <tr>
           <th><a href="https://web.telegram.org/a/"><i class="fa fa-paper-plane-o w3-padding-18 w3-text-red" style="font-size:50px;color:red"></i></a></th>
           <th class="w3-large"><a href="https://web.telegram.org/a/">Teligram</a></th>
         </tr>
         <tr>
         <th><a href="#"><i class="fa fa-map-marker w3-padding-24 w3-text-red" style="font-size:50px;color:red"></i></a></th>
         <th class="w3-large"><a href="#">Rajankunte Yelahanka Bengaluru Karnataka-560064</a></th>
      </tr>
      <tr>
        <th><a href="mailto:doubtclearweb@gmail.com?subject = Feedback&body = Message"><i class="fa fa-envelope-o w3-padding-24 w3-text-red" style="font-size:50px;color:red"></i></a></th>
        <th class="w3-large"><a href="mailto:doubtclearweb@gmail.com?subject = Feedback&body = Message">Gmail doubtclearweb"&#64;"gmail.com</a></th>
      </tr>	
      </table>    
      </div>
    </div>
  </div>  
</section>

<footer class="w3-container w3-padding-24 w3-center w3-opacity">
  <!-- Footer content -->
  <div class="w3-xlarge w3-padding-32">
    <a href="https://github.com/Arunkumarr7"><i class="fa fa-github w3-hover-opacity" style="font-size:50px" title="github"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="https://www.instagram.com/arun__ramsagar/"><i class="fa fa-instagram w3-hover-opacity" style="font-size:50px" title="instagram"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="https://www.facebook.com/arunkumar.yash.581/"><i class="fa fa-facebook-official w3-hover-opacity" style="font-size:50px" title="facebook"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="https://twitter.com/Arunkum00793483"><i class="fa fa-twitter w3-hover-opacity" style="font-size:50px" title="twitter"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="https://www.linkedin.com/in/arun-kumar-r-b9a5aa230"><i class="fa fa-linkedin w3-hover-opacity" style="font-size:50px" title="linkedin"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
   </div>
   <h3><span class="fa fa-copyright" style="font-size:24px"></span>Arun Kumar R, All rights reserved </h3>
</footer>
